:root {
    --font-outfit: "Outfit", sans-serif;
    --dark-blue: #264059;
    --light-blue: #6EA0B1;
    --dark-green: #475808;
    --light-green: #9AB031;
    --orange: #E5690B;
    --brown: #9F5D35;
    --area: #DECA98;
    --dark-gray: #303030;
}

body {
    font-family: var(--font-outfit);
    color: var(--dark-gray);
    background-color: lightgray;
}

header {
    background-color: var(--dark-blue);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
    border-bottom: 2px solid #303030;
}

header .logo {
    display: flex;
    align-items: center;
    gap: 30px;
}

header .logo img {
    width: 80px;
    transition: .3s;
}

header .logo img:hover {
    scale: 1.1;
}

header .logo h1 {
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
}

header .buscar {
    display: flex;
    align-items: center;
}

header .buscar label {
    color: #fff;
    margin-right: 10px;
}

header .buscar input {
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid lightgray;
    margin-left: 5px;
}

header .buscar input::placeholder,  header .buscar i {
    color: lightgray;
}

.container {
    width: 100vw;
    height: 80vh;
    display: flex;
}

.container .left {
    width: 20vw;
    height: 95vh;
    background-color: var(--dark-blue);
}

.container .left .conta {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    border-bottom: 2px solid #303030;
}

.container .left .conta img {
    width: 60px;
    border-radius: 50%;
    cursor: pointer;
}

.container .left .conta h3 {
    font-size: 1.2rem;
    color: #fff;
}

.container .left .menu .menu-mobile {
    display: none;
}

.container .left .menu .menu-mobile div {
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin-bottom: 6px;
}

.container .dispositivo {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 0;
}

.container .dispositivo h4 {
    font-size: 1.2rem;
    text-align: center;
    color: #fff;
}

.container .dispositivo img {
    width: 100%;
}

.container .dispositivo p {
    color: #fff;
    font-weight: lighter;
    margin-left: 10px;
}

.container .dispositivo .vermelho::before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    margin: 0 10px;
}

.container .dispositivo .verde::before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: green;
    margin: 0 10px;
}

.container .left .botoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 20px 0;
}

.container .left .botoes a {
    font-size: 1.2rem;
    color: #fff;
    text-decoration: none;

}

.container .left .botoes .active {
    background-color: var(--light-blue);
    border: 2px solid #303030;
    width: 100%;
    text-align: center;
    padding: 20px 0;
}

.container .hero img {
    width: 80vw;
}

.container .hero h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.container .hero .sensores {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}

.container .descricao-sensores .circulo::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 2px solid #303030;
    border-radius: 50%;
    margin-right: 10px;
}

.container .descricao-sensores .quadrado::before {
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    border: 2px solid #303030;
    margin-right: 10px;
}

.container .estado-sensores .verde::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: green;
    margin-right: 10px;
}

.container .estado-sensores .amarelo::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: yellow;
    margin-right: 10px;
}

.container .estado-sensores .azul::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: blue;
    margin-right: 10px;
}

.container .estado-sensores .vermelho::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: red;
    margin-right: 10px;
}

@media (min-width: 620px) and (max-width: 1023px) {

    header {
        padding: 10px 50px;
    }

    .container {
        flex-direction: column;
    }

    .container .left {
        width: 100vw;
        height: 10vh;
    }

    .container .left .conta {
        width: 100vw;
        justify-content: left;
        gap: 20px;
        border: none;
        padding: 0;
        margin: 10px;
    }

    .container .left .conta img {
        width: 50px;
    }

    .container .left .menu {
        display: flex;
        align-items: center;
        padding: 0 50px;
    }

    .container .left .menu .menu-mobile {
        display: block;
    }

    .container .dispositivo, .container .left .botoes {
        display: none;
    }

    .container .hero img {
        width: 100vw;
    }
}

@media (max-width: 619px) {

    header {
        padding: 10px 50px;
        flex-direction: column;
        gap: 20px;
    }

    .container {
        flex-direction: column;
    }

    .container .left {
        width: 100vw;
        height: 10vh;
    }

    .container .left .conta {
        width: 100vw;
        justify-content: left;
        gap: 20px;
        border: none;
        padding: 0;
        margin: 10px;
    }

    .container .left .conta img {
        width: 50px;
    }

    .container .left .menu {
        display: flex;
        align-items: center;
        padding: 0 50px;
    }

    .container .left .menu .menu-mobile {
        display: block;
    }

    .container .dispositivo, .container .left .botoes {
        display: none;
    }

    .container .hero img {
        width: 100vw;
    }
}