:root {
    --font-outfit: "Outfit", sans-serif;
    --dark-blue: #264059;
    --light-blue: #6EA0B1;
    --dark-green: #475808;
    --light-green: #9AB031;
    --orange: #E5690B;
    --brown: #9F5D35;
    --area: #DECA98;
    --dark-gray: #303030;
}

body {
    font-family: var(--font-outfit);
    color: var(--dark-gray);
    background-color: lightgray;
}

header {
    background-color: var(--dark-blue);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
    border-bottom: 2px solid #303030;
}

header .logo {
    display: flex;
    align-items: center;
    gap: 30px;
}

header .logo img {
    width: 80px;
    transition: .3s;
}

header .logo img:hover {
    scale: 1.1;
}

header .logo h1 {
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
}

header .buscar {
    display: flex;
    align-items: center;
}

header .buscar label {
    color: #fff;
    margin-right: 10px;
}

header .buscar input {
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid lightgray;
    margin-left: 5px;
}

header .buscar input::placeholder,  header .buscar i {
    color: lightgray;
}

.container {
    width: 100vw;
    height: 80vh;
    display: flex;
}

.container .left {
    width: 20vw;
    height: 135vh;
    background-color: var(--dark-blue);
}

.container .left .conta {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    border-bottom: 2px solid #303030;
}

.container .left .conta img {
    width: 60px;
    border-radius: 50%;
    cursor: pointer;
}

.container .left .conta h3 {
    font-size: 1.2rem;
    color: #fff;
}

.container .left .menu .menu-mobile {
    display: none;
}

.container .left .menu .menu-mobile div {
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin-bottom: 6px;
}

.container .left .botoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 20px 0;
}

.container .left .botoes a {
    font-size: 1.2rem;
    color: #fff;
    text-decoration: none;

}

.container .left .botoes .active {
    background-color: var(--light-blue);
    border: 2px solid #303030;
    width: 100%;
    text-align: center;
    padding: 20px 0;
}

.container .hero .zonas {
    width: 75vw;
    background-color: var(--dark-blue);
    margin: 20px;
    border: 2px solid #303030;
    border-radius: 20px;
}

.container .hero .zonas img {
    width: 100%;
    border-radius: 20px 20px 0 0;
}

.container .hero .zonas .desc-zonas {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}

.container .hero .zonas .desc-zonas p {
    font-size: 1.2rem;
    color: #fff;
}

.container .hero .zonas .desc-zonas .verde::before{
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: green;
    margin-right: 10px;
}

.container .hero .zonas .desc-zonas .amarelo::before{
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    background: linear-gradient(90deg, rgba(255,255,0,1) 0%, rgba(0,0,255,1) 100%);
    margin-right: 10px;
}

.container .hero .zonas .desc-zonas .vermelho::before{
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: red;
    margin-right: 10px;
}

.container .hero h3 {
    font-size: 2rem;
    text-align: center;
}

.container .hero .notificacoes .alerta {
    color: red;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    border-bottom: 1px solid #303030;
    padding: 20px 0;
}

.container .hero .notificacoes {
    border: 2px solid #303030;
    border-radius: 20px;
    margin: 20px;
}

.container .hero .notificacoes h4 {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 20px 0;
}

.container .hero .notificacoes .infos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
}

.container .hero .notificacoes .infos .problema p:first-child {
    font-weight: bold;
}

.container .hero .notificacoes .infos .solucionado {
    width: 400px;
}

.container .hero .notificacoes .infos .solucionado p:first-child {
    font-weight: bold;
}

.container .hero>p {
    text-align: center;
    margin-top: 30px;
}

.container .hero a {
    font-size: 1.2rem;
    color: var(--dark-gray);
    padding: 10px 50px;
    border: 2px solid #303030;
    text-decoration: none;
    border-radius: 10px;
    transition: .3s;
}

.container .hero a:hover {
    background-color: var(--dark-blue);
    color: #fff;
    box-shadow: 0px 10px 30px 0px rgba(110,160,177,1);
    transform: translateY(-4px);
}

@media (min-width: 620px) and (max-width: 1023px) {

    header {
        padding: 10px 50px;
    }

    .container {
        flex-direction: column;
    }

    .container .left {
        width: 100vw;
        height: 10vh;
    }

    .container .left .conta {
        width: 100vw;
        justify-content: left;
        gap: 20px;
        border: none;
    }

    .container .left .menu {
        display: flex;
        align-items: center;
        padding: 0 50px;
    }

    .container .left .menu .menu-mobile {
        display: block;
    }

    .container .dispositivo, .container .left .botoes {
        display: none;
    }

    .container .hero img {
        width: 100vw;
    }

    .container .hero .zonas {
        width: 95vw;
    }
}

@media (max-width: 619px) {

    header {
        padding: 10px 50px;
        flex-direction: column;
        gap: 20px;
    }

    .container {
        flex-direction: column;
    }

    .container .left {
        width: 100vw;
        height: 10vh;
    }

    .container .left .conta {
        width: 100vw;
        justify-content: left;
        gap: 20px;
        border: none;
    }

    .container .left .menu {
        display: flex;
        align-items: center;
        padding: 0 50px;
    }

    .container .left .menu .menu-mobile {
        display: block;
    }

    .container .dispositivo, .container .left .botoes {
        display: none;
    }

    .container .hero img {
        width: 100vw;
    }

    .container .hero .zonas {
        width: 93vw;
    }

    .container .hero .zonas .desc-zonas {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}